body {
    background-color: #000004;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
  
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.copyright {
    text-align: center;
    text-decoration: none;
}

/*footer {
    width: 100%;
    padding: 10px;
    bottom: 0;
    position: fixed;
    text-align: center;
    position: absolute;
}*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    /*background-color: #0f0f0f;*/
    color: #aaa;
}

button {
    background-color: #0f0f0f;
    transition: background-color 0.3s ease;
    border: none;
    color: #fff;
    border-radius: 7px;
    font-size: 17px;
    padding: 10px 20px;
}

button:hover {
    background: #1f1f1f;
}

h1 {
    font-size: 35px;
    margin-bottom: 0.3em;
}

h2 {
    font-size: 27px;
    margin-bottom: 0.3em;
}

a {
	color: #ddd;
    text-decoration: none;
}

a:hover {
	color: #aaa; 
}